<div id="header">
        <img src="critter-getter-header2.png" />
    </div>

<nav class="navbar navbar-light" style="background-color: #e7f1f8;">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HOME</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#" class="navbar-brand">LOGIN/SIGNUP</a></li>
    </ul>
  </div>
</nav>

<div>
    <h2>Critter Getter</h2>
    <p></p>
    {{!-- button with on click to home page --}}
</div>