<div id="header">
  <img src="critter-getter-header2.png" />
</div>

<nav class="navbar navbar-light" style="background-color: #e7f1f8;">

  <div class="container-fluid">
    <div class="navbar-header">
      {{!-- <a class="navbar-brand" href="#">HOME</a> --}}
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#" class="navbar-brand">LOGIN/SIGNUP</a></li>
    </ul>
  </div>
</nav>
<br>
<br>

<div class="card" style="max-width: 540px; margin:0 auto">
  <div class="card-body" style="text-align:center">
    <h3 class="card-title">WELCOME TO CRITTER GETTER</h3>
    <p class="card-text">We believe pets bring out the best in us.<br> Find your new best friend today.</p>
    <br>
    <a href="/search"><button style="height: 30px; width: 80px" type="button">Enter</button></a>
    <br>
  </div>
  <img src="critter-getter-index-photo.png" class="card-img-bottom" alt="...">
</div>


