<div id="header">
  <img src="critter-getter-header2.png" />
</div>

<nav class="navbar navbar-light" style="background-color: #e7f1f8;">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HOME</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#" class="navbar-brand">LOGIN/SIGNUP</a></li>
    </ul>
  </div>
</nav>
<br>
<br>
<div>
  <div class="search-card card">
    <div class="card-header">

      <h3>Welcome to the Critter Getter App.</h3>
      <br>
      <h5>We believe pets bring out the best in us, so we wanted to provide a platform to help connect us to them.</h5>
      <br>
      
     <a href="/search"><button type="button">Enter</button></a>
      <br>
      <br>
      <img src="critter-getter-index-photo.png">


      <br>




    </div>