<div id="header">
  <img src="critter-getter-header2.png" alt="critter getter header logo" />
</div>
<nav class="navbar navbar-light" style="background-color: #e7f1f8;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">HOME</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/" class="navbar-brand">LOGOUT</a></li>
    </ul>
  </div>
</nav>
<br>
<h1 style="text-align:center" class="results-header">Results:</h1>
<div class="results-card">
  <div class="card">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
      aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
      </text>
    </svg>

    <div class="card-body">
      <h5 style="text-align:center" class="card-title">San Diego Adoption Center</h5>
      
        <li class="list-group-item">Animal Type: Dog</li>
        <li class="list-group-item">Name: Fido</li>
        <li class="list-group-item">Gender: Male</li>
        <li class="list-group-item">Age: 14</li>
      </ul>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>