<div id="header">
  <img src="critter-getter-header2.png" alt="critter getter header logo" />
</div>
<nav class="navbar navbar-light" style="background-color: #e7f1f8;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">HOME</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/" class="navbar-brand">LOGOUT</a></li>
    </ul>
  </div>
</nav>
<br>
<h1 style="text-align:center" class="results-header">Results:</h1>
<div class="container">
  <div class="row" id="card-list">
    <div  class="col col-sm-12 col-lg-4">

    </div>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/login.js"></script>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const zip = urlParams.get("zip");
    const animalType = urlParams.get("animalType");
    $.ajax({
      method: "GET",
      url: `/api/animals?animalType=${animalType}&zip=${zip}`,
    }).then((data) => {
      console.log("hello")
      const cardList = $("#card-list")
      cardList.empty();
      for (let i = 0; i < data.animals.length; i++) {
        let cardDisplay = $("<div  class='col col-sm-12 col-lg-4'>");
        cardList.append(cardDisplay);
        let email = $("<p>").text("E-mail: " + data.animals[i].contact.email);
        let phone = $("<p>").text("Phone: " + data.animals[i].contact.phone);
        let age = $("<p>").text("Age: " + data.animals[i].age)
        let name = $("<p>").text("Name: " + data.animals[i].name);
        let photoURL = "";
        if (data.animals[i].photos[0]) {
          photoURL = data.animals[i].photos[0].medium;
        } else if (!data.animals[i].photos[0]) {
          photoURL = "https://via.placeholder.com/150";
        }
        let pic = $("<img>").attr("src", photoURL);
        let gender = $("<p>").text("Gender: " + data.animals[i].gender);
        var card = $("<div>").addClass("card");
        {{!-- let submit = $("<form>").attr("action", "/api/saved_animals").attr("method", "post")
        let submitInput =$("<input>").attr({
          type: "hidden",
          name: "animalData",
          value: {id: data.animals[i].id, name: data.animals[i].name, distance: data.animals[i].distance, img_url: photoURL}
          })
        console.log(submitInput)
        let button = $("<button>").attr("type", "submit").text("Save this Animal to favorites") --}}
        submit.append(submitInput, button);
        card.append(pic, name, gender, age, phone, email, submit);
        cardDisplay.append(card);
      }
    });




  </script>