<div>
  <div id="header">
    <img src="critter-getter-header2.png" />
  </div>
  <nav class="navbar navbar-light" style="background-color: #e7f1f8;">

    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">HOME</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="navbar-brand">LOGIN/SIGNUP</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <h1 class="slogan-header"><i class="fas fa-paw"></i> Find Your Perfect Pet.</h1>
  <br>
  <div class="search-card card">
    <div class="card-header">

      SEARCH:
      <br>

      <form action="/results" method="get">
        <div class="form-group">
          <label for="exampleZip">Enter your zip code:</label>
          <input name="zip" class="form-control" id="zip" placeholder="Enter zip code">
        </div>

        <br>

        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Please select the type of animal:</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="animalType">
          <option selected>Choose...</option>
          <option value="Dog">Dogs</option>
          <option value="Cat">Cats</option>
          <option value="Bird">Birds</option>
          <option value="Rabbit">Rabbits</option>
          <option value="Horse">Horses</option>
        </select>

        <div class="custom-control custom-checkbox my-1 mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="customControlInline">
        </div>

        <button type="submit" class="btn btn-primary my-1" id="search-button" >Search</button>
    </div>

  </div>
</div>
</div>
</form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
